<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Covid19</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://kit.fontawesome.com/8840200359.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar navbar-expand-lg" >
   
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <div class="navbar-nav">
        <a class="nav-item nav-link active" href="#">About <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Resources</a>
        <a class="nav-item nav-link" href="#">Contact</a>
        
      </div>
    </div>
  </nav>
    <div class="container">
      <div class="bg-vid">    
        <video id ="BGvid" class="icon-video  " autoplay loop muted>
          <source src="img/virus.mp4"type="video/mp4">
        </video>
      </div> 
                <div class="heading-section text-center">
                  <h1 class="heading"><%= state %></h1> 
                </div>
    
          <div class="table-block">
            <table class="table  table-striped">
              <thead>
                <tr class="head">
                  <th scope="col">State</th>
                  <th scope="col">Confirmed</th>
                  <th scope="col">Active</th>
                  <th scope="col">Recovered</th>
                  <th scope="col">Death</th>
                </tr>
              </thead>
              <tbody>
                <%  states.forEach( function(state){ %>
                  <tr>
                    <th  scope="row"> <%= state.state_name %></th>
                    <td><%= state.confirmed %>
                      <div class="increment-td confirmed-td">
                        <i class="fas fa-arrow-up"></i>
                        <p><%= state.deltaconfirmed %></p>
                      </div> 
                    </td>
                    <td><%= state.active %></td>
                    <td><%= state.recovered %>
                      <div class="increment-td recover recovered-td">
                        <i class="fas fa-arrow-up"></i>
                        <p><%= state.deltarecovered %></p>
                      </div> 
                    </td>
                    <td><%= state.death %>
                      <div class="increment-td death">
                        <i class="fas fa-arrow-up"></i>
                        <p><%= state.deltadeath %></p>
                      </div> 
                    </td>
                  </tr>
               <% }) %>
               
               
              </tbody>
            </table> 
          </div>
              
    
    </div>
  
    
</body>
</html>